<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0" package="com.myrss">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/logo" android:label="@string/app_name">
		<activity android:name="MainAct" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="WebAct" android:label="@string/app_name" />
		<activity android:name="CategoryMgrAct" android:label="@string/app_name" />
		<activity android:name="SelRSSAct" android:label="@string/app_name" />
		<activity android:name="RssMgrAct" android:label="@string/app_name" />
		<activity android:name="RssAct" android:label="@string/app_name" />
		<activity android:name="BrowseAct" android:label="@string/browse_name" />
	</application>
</manifest>
